<ion-header> </ion-header>

<ion-content>

  <div class="auth-page" >
    <div class="logo">
      <img src="../../../assets/snuggle-white.png" alt="">
    </div>
  
 
    <div class="bottom">
      <div class="padding">
        <h1>Welcome</h1>
        <p>Complete few easy steps and you should be good to go</p>
        
        <ion-button fill="solid" shape="round" expand="block" (click)="createAccountActionSheet()">Create Account</ion-button>
        <ion-button fill="solid" shape="round" expand="block" (click)="loginActionSheet()">Login</ion-button>

        <!-- <div class="or">Or sign in with</div> -->
      </div>
      <!-- <div class="btn-group">
        <ion-button fill="outline" shape="round" (click)="openPhoneModal()">
          <ion-icon class="signin-icon" slot="start" name="call-outline"></ion-icon>
          Phone number
        </ion-button>

        <ion-button fill="outline" shape="round" (click)="openSigninModal()">
          <ion-icon class="signin-icon" slot="start" name="mail-outline"></ion-icon>
          Email address
        </ion-button> 
      </div>  -->
    </div> 
  </div>

</ion-content>


