<ion-header> </ion-header>

<ion-content class="ion-padding">

  <div class="signup-intro">
    <div class="logo">
      <img src="../../../assets/snuggle-primary.png" alt="">
    </div>
 
    <div>
      <div class="main">
        <img src="../../../assets/intro/1.svg">
      </div> 
      
      <div class="bottom">
        <h1>Let's get started</h1>
        <p>Complete few steps and you should be good to go</p>
        
        <ion-button fill="solid" expand="block" (click)="openSignupModal()">Create Account</ion-button>
        <ion-button fill="solid" expand="block" (click)="openPhoneModal()">Phone number mobile</ion-button>
        <ion-button fill="solid" expand="block" (click)="openSigninModal()">Sign In</ion-button>
      </div>
    </div> 
  </div>

</ion-content>


