<ion-header [translucent]="true"class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title text-center>
     <img class="logo" src="../../../assets/snuggle-primary.png" alt=""> 
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="openModal('camera')">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div id="parent" class="user-card-container" *ngIf="usersLoaded$ | async; else loadingTemplate">
    <ion-card class="card user-card" *ngFor="let user of users; let i =index"  id="{{'card-' + user.uid}}">
      <img [src]="user.profile_picture" />
      <div class="user-info">
        <h1>{{user.name}}, {{ getUserAge(user)}}</h1>
        <p>
          <ion-icon name="location-outline"></ion-icon>
          {{user.location.distance || 0}}km away
        </p>
      </div>

      <div class="show-more">
        <ion-icon color="primary" (click)="showUserModal(user)" name="arrow-up-circle-outline"></ion-icon>
      </div>
        <ion-icon name="heart-dislike" class="icon" id="rejected-icon"></ion-icon>
        <ion-icon name="heart" class="icon" id="accepted-icon"></ion-icon>
    </ion-card>
  </div>
  
  <ng-template #loadingTemplate>
    <div class="is-loading">
      <img src="../../../assets/loading.gif" alt="">
      <h1>Loading users...</h1>
      <p>This should not take long. Hang on tight...</p>
    </div>
  </ng-template>
 

</ion-content>
 