<ion-header [translucent]="true"class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title text-center>
     <img class="logo" src="../../../assets/logo.png" alt=""> Hooked
    </ion-title>

    <ion-buttons slot="secondary">
      <ion-button (click)="filterUsers()">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="user-card-container" *ngIf="(count$ | async) > 0; else emptyTemplate">
    <ion-card class="user-card" *ngFor="let user of users; let i =index"  id="{{'card-' + user.id}}">
      <img [src]="user.images[0]" />
      <div class="user-info">
        <h1>{{user.name}}, {{user.age}}</h1>
        <p>
          <ion-icon name="home-outline"></ion-icon>
          Lives in {{user.location}} </p>
        <p>
          <ion-icon name="location-outline"></ion-icon>
          {{user.distance}}km away</p>
      </div>
      <!-- <div class="controls">
        <ion-grid>
          <ion-row>
            <ion-col class="dislike">          
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-col>
            <ion-col class="super-like">
              <ion-icon name="heart-outline"></ion-icon>
            </ion-col>
            <ion-col class="like">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> -->
    </ion-card>
  </div>

  <ng-template #emptyTemplate>
    <div class="no-swipes">
      <h1>That's all for you!</h1>
      <p>Change your filter and expand your distance settings to see more people.</p>
    </div>
  </ng-template>
</ion-content>