<ion-header [translucent]="true"class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title text-center>
     <img class="logo" src="../../../assets/logo_secondary.png" alt=""> 
    </ion-title>

    <ion-buttons slot="secondary">
      <ion-button (click)="openModal('camera')">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
  <div class="location">

    <ion-button (click)="getLocation()">Address</ion-button>
    <pre>Location results: {{ location | json}}</pre>
  </div>


  <div class="container">
    <ion-list lines="none" *ngIf="users">
      <ion-item *ngFor="let user of users | async ; let i = index" >
        <ion-avatar slot="start" >
          <img [alt]="user?.name" [src]="user?.profile_picture ? user.profile_picture : defaultImage" />
        </ion-avatar>  
        <p slot="end">{{user.location?.distance}}</p>
        <ion-label>
          {{user?.name}}
          <p>last message</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>


</ion-content>

