::-webkit-scrollbar {
  display: none;
}

.logo {
  width: 30px;
  vertical-align: middle;
}

.user-card-container {
  position: relative;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  .user-card { 
    position: absolute;
    border-radius: 8px;
    height: 75vh;
    width: 95vw;

    img {
      width: 100vw;
      border-radius: 8px;
      object-fit: center;
      object-position: top;
      mask-image: linear-gradient(to bottom, #000, #000, transparent);
    }
    .user-info {
      position: absolute;
      bottom: 20px; //change this to 80px to controller
      color: #292929;
      text-align: center;
      width: 100%;
      h1 {
        font-size: x-large;
        font-weight: bold;
        
      }
      p {
        font-size: 16px;
      }
      h1, p {
        padding: 0;
        margin: 0;
      }
    }
    // .controls {
    //   text-align: center;
    //   align-items: center;
    //   position: absolute;
    //   width: 100%;
    //   bottom: 4px;
    //   ion-icon {
    //     font-size: 54px;
        
    //   }
    //   .dislike {
    //     color: red;
    //   }
    //   .super-like {
    //     color: orange;
    //   }
    //   .like {
    //     color: green;
    //   }
    // }
 
  }
 
}

.no-swipes {
  text-align: center;
  height: 50vh;
  margin-top: 25vh;
  padding: 20px;
  
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
}