ion-header {
    display: none;
}

ion-card {
  background-color: rgb(240, 240, 240);
  margin: 0 auto;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
 

.user-card {
  .picture {
    height: 80%;
    overflow: hidden;
    img {
      width: 460px;
    }
  }
  .bottom {
    position: relative;
    bottom: 120px;
    .user-info {
      padding: 20px;
      .name {
        font-size: 22px;
        font-weight: bold;
        color: rgb(201, 63, 86);
      }
    }

    .controls {
      ion-row {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 4px;
      }
      ion-col {
        text-align: center;
      }
      ion-icon {
        font-size: 28px;
        border: 2px solid;
        border-radius: 100%;
        padding: 10px;
        &.hate {
          background-color: orange;
        }
        &.super-like {
          background-color: pink;
        }
        &.like {
          background-color: green;
        }
      }
    }
  }
}

