<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header></ion-header> 

  <ion-card *ngFor="let user of users$ | async">
    <img [src]="user?.picture" />
    <ion-card-header>
      <ion-title>
        {{user?.name}}
      </ion-title>
      <ion-card-subtitle>
        {{user?.age}}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
 

</ion-content> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header></ion-header> 

<ion-content>
  <div class="user-card">
    <ion-card *ngFor="let user of users$ | async">
      <div class="picture">
        <img  [src]="user.picture" />
      </div>

      <div class="bottom">
        <div class="user-info">
          <div class="name">
            {{user.name}}, <span class="age">{{user.age}}</span>
          </div>
          <div class="location">Lives in {{user.location}}</div>
          <div class="distance">{{user.distance}} KM away</div>
        </div>

        <div class="controls">
          <ion-grid [fixed]="true">
            <ion-row>
              <ion-col>
                <ion-icon class="hate" name="close"></ion-icon>
              </ion-col>
              <ion-col>
                <ion-icon class="super-like" name="sparkles"></ion-icon>
              </ion-col>
              <ion-col>
                <ion-icon class="like" name="heart"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
