<div class="user-card"
    [@cardAnimator]="animationState"
    (@cardAnimator.done)="resetAnimationState($event)"
    (swipeleft)='startAnimation("swipeleft")' 
    (swiperight)='startAnimation("swiperight")'
    >
    <img [src]="users[index].picture"  alt="Profile Photo" />
</div>


<div class="bottom">
    <div class="user-info">
        <div class="name">{{users[index].name}}, <span class="age">{{users[index].age}}</span></div>
        <div class="location">Lives in {{users[index].location}}</div>
        <div class="distance">{{users[index].distance}} KM away</div>
        <!-- <div class="tinfo"><i class="fa fa-book" aria-hidden="true"> 0</i><i class="fa fa-users" aria-hidden="true"> 0</i></div> -->
    </div>

    <div class="controls">
        <ion-grid [fixed]="true">
            <ion-row>
                <ion-col>
                    <ion-icon (click)="testClickEvent($event, 'hate')" class="hate" name="close"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon (click)="testClickEvent($event, 'superLike')" class="super-like" name="sparkles"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon (click)="testClickEvent($event, 'like')" class="like" name="heart"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>

 