 <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
       <h1>Lorem, ipsum dolor.</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptatum sunt, consequatur, corporis, veniam cum voluptatibus libero iste sequi ullam illo cumque! Sit ad alias, delectus repudiandae eligendi nobis! Saepe?</p>
      </ion-content>
    </ng-template>
  </ion-modal>
