<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title text-center>
      Profile
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button id="modal">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="top">
      <div class="user-avatar">
        <img *ngIf="user && !user.profile_picture" src="../../../assets/default/default.jpg" alt="">

        <img *ngIf="user && user.profile_picture" [src]="user.profile_picture" alt="">
        <div class="placeholder">
          <ion-icon name="person-outline"></ion-icon>
        </div>
      </div>
      <div class="user-info">
        <h1>{{user?.name}}, {{getUserAge()}}</h1>
        <ion-button (click)="openModal()" shape="round">Edit Profile</ion-button>
      </div>
    </div>
    <div class="bottom">
      <ion-grid class="photo-grid" >
        <ion-row *ngIf="user && user.images.length > 0">
          <ion-col class="user-image" size="4" *ngFor="let u of user.images; let i=index">
            <img [src]="u" alt="" (click)="showGallery(i)">
          </ion-col>  
          <ion-col size="4" >
            <div *ngIf="user.images.length < 6" class="img-placeholder" (click)="selectImageActionSheet()">
              <ion-icon name="add-circle-outline"></ion-icon>
            </div>
          </ion-col> 
        </ion-row>

        <ion-row *ngIf="user && user.images.length < 1">
          <ion-col size="4" >
            <div *ngIf="user.images.length < 6" class="img-placeholder" (click)="selectImageActionSheet()">
              <ion-icon name="add-circle-outline"></ion-icon>
            </div>
          </ion-col> 
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
