<ion-header> </ion-header>

<ion-content class="ion-padding">

  <div class="signup-intro">
    <div class="logo">
      <img src="../../../assets/logo_secondary.png" alt="">
    </div>
 
    <div>
      <div class="main">
        <img src="../../../assets/signup/create.svg">
      </div> 
      
      <div class="bottom">
        <h1>Let's get started</h1>
        <p>Complete few steps and you should be good to go</p>
        <ion-button fill="solid" expand="block" (click)="openSignupModal()">Create Account</ion-button>
        <p class="signin">
          Already have an account? <a (click)="goToSignInPage()">Sign in</a>
        </p>
      </div>
    </div> 
  </div>

</ion-content>


