::-webkit-scrollbar {
    display: none;
  }
  
  .logo {
    text-align: center;
    margin-top: 60px;
    img {
      width: 40px;
    }
  }
   


  //modal
  .container {
    padding: 20px;
    text-align: center;
    h1.title {
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 0;
    }
    p.sub-title {
      font-size: 14px;
      margin: 0;
      padding: 0;
    }

    .item {
      margin: 20px 0;
      .item-info {
        border-bottom: 2px solid #3f093885;
        text-align: center;
        // --padding-start: 10px;
        // border-radius: 6px;
      }

      ion-select {
        width: 100%;
        text-align: center;

        // margin-top: 20px;
      }
    }

    .chosen-date {
      border-bottom: 2px solid #3f093885;
      padding: 5px;
      height: 60px;
      margin: 0 20px;
      p {
        margin-bottom: 0;
        font-size: 16px !important;
      }
    }
    
  }

  .validation-errors {
    .error-message {
      color: rgb(175, 4, 4);
    }
  }

  ion-button {
    margin-top: 20px;
  }
 
  .summary {
    .item {
      border: 2px solid #3f093885;
      border-radius: 8px;
      .gender {
        padding-right: 16px;
        font-size: 30px;
      }
      h1 {
        font-size: 18px;
        font-weight: bold;
      }
      p {
        font-size: 16px;

      }
    }
  }
