@import "../../../theme/colors.scss";

::-webkit-scrollbar {
    display: none;
} 
 
   
.modal-form {
    width: 100%;
    padding: 20px; 
}
  
.btn-group {
    float: right;
    margin-top: 40px;
    ion-button {
      min-width: 140px;
      height: 50px;
    }
}

.summary.btn-group {
    height: 90px;
}
.modal-container {

    .counter {
      width: 100px;
      border-radius: 0 40px 40px 0;
      margin: 20px 0;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
      background-color: $primary;
      color: white;
    }
  
   
    .container {
      .title {
        padding-left: 40px;
        line-height: 1;
        h1 {
          margin: 0;
          padding: 0;
          font-size: 24px;
          font-weight: bold;
        }
        p {
          margin: 0;
          padding: 0;
          font-size: 16px;
        }
       
      }
  
      .item-choose {
        font-size: 20px;
        margin: 20px;
      }
  
      ion-select {
        width: 100%;
      }
  
      ion-input {
        margin: 4px 0;
        border-bottom: 1px solid #292929; 
    
      }
    
      ion-label {
        color: #292929;
      }
      ion-select {
        border-bottom: 1px solid #292929;
    
      }
      
      .validation-errors {
        padding-left: 20px;
        .error-message {
            font-size: 16px;
            color: $primary;
            line-height: 1 !important;
          }
        }
      }
      .summary { 
        .item {
          margin: 10px 20px;
          .gender {
              padding-right: 16px;
              font-size: 30px;
          }
          h1 {
              font-size: 18px;
              font-weight: bold;
          }
          p {
              font-size: 16px;
          }
        }
      }
  
      .upload-image {
        margin-top: 20px;
        .preview {
          width: 150px;
          height: 150px;
          overflow: hidden;
          border-radius: 100%;
          margin: 0 auto;
          border: 4px solid $primary;
        }
        .upload-btn {
          text-align: center;
        }
       
      }
 }
  
  
ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

ion-modal ion-toolbar {
    --background: rgb(102, 63, 89);
    --color: white;
}

p.signin {
    padding-top: 10px !important;
}

::ng-deep  {
  .alert-checkbox-label {
      overflow-wrap: normal;
      white-space: break-spaces !important;
  }
  .alert-wrapper {
      width: 100% !important;
  }

  .cancel {
    margin-top: 100px;
  }
}
  
  
  
  