<ion-header> </ion-header>

<ion-content>
  
  <div class="container">

      <h1>It's a snatch</h1>
      <p>You have matched with <b>{{user.name}}</b></p>

      <div class="match-photos">
        <div class="match-left">
          <img [src]="me.profile_picture" alt="">
        </div>
        <div class="match-right">
          <img [src]="user.profile_picture" alt="">
        </div>
      </div>

      <div class="btn-group">
        <ion-button shape="round" expand="block" fill="solid" (click)="startChatting()">Start chatting</ion-button>
        <ion-button shape="round" expand="block" fill="outline" (click)="continueSwipping()" >Continue swipping</ion-button>
      </div>

  </div>
</ion-content>