<ion-header [translucent]="true"class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title class="title" text-center>
      Chats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <ion-list lines="none" *ngIf="(users | async); else emptyTemplate">
      <ion-item *ngFor="let user of users | async; let i = index" (click)="openChats(user)">
        <ion-avatar slot="start" >
          <img [alt]="user?.name" [src]="user?.profile_picture ? user.profile_picture : defaultImage" />
        </ion-avatar>  
        <p slot="end">12:35</p>
        <ion-label>
          {{user?.name}}
          <p>last message</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #emptyTemplate>
    <div class="is-loading">
      <img src="../../../assets/loading.gif" alt="">
      <h1>Loading Chats...</h1>
      <p>This should not take long. Hang on tight...</p>
    </div>
  </ng-template>
</ion-content> 