<ion-header [translucent]="true"class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title class="title" text-center>
      Chats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="users-wrapper">
    <ul class="user" *ngIf="matchedUser && matchedUser.length > 0">
      <div *ngFor="let user of matchedUser" class="item">
        <img [src]="user.profile_picture" alt="" (click)="openChats(user)">
        <p (click)="openChats(user)">Maphuti Stipane  {{user}}</p>
      </div> 
    </ul>
    <ul class="user" *ngIf="matchedUser.length < 1">
      <div class="item">
        <img [src]="defaultImage" alt="" >
        <p >Likes</p>
      </div> 
    </ul>
  </div>
 
 

   <div class="container" *ngIf="allUsers.length > 0; else emptyTemplate">
    <ion-list lines="none">
      <ion-item class="bg" *ngFor="let user of allUsers; let i = index" (click)="openChats(user)">
        <ion-avatar slot="start" >
          <img [alt]="user?.name" [src]="user?.profile_picture ? user.profile_picture : defaultImage" />
        </ion-avatar>  
        <p slot="end">12:35</p>
        <ion-label>
          <h3>{{user?.name}}</h3>
          <p>last message</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div> 

 

  <ng-template #emptyTemplate>
    <div class="is-loading">
      <img src="../../../assets/loading.gif" alt="">
      <h1>Loading Chats...</h1>
      <p>This should not take long. Hang on tight...</p>
    </div>
  </ng-template>
</ion-content> 