ion-content  {
    --ion-background-color: rgb(253, 253, 253);
}

.title {
    font-weight: bold;
    font-size: 28px;
}
ion-item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 4px 10px;
    font-size: 16px;
    padding: 10px 0;
    border-radius: 14px;
    ion-avatar {
        width: 60px;
        height: 60px;
    }
}
.is-loading {
    text-align: center;
    height: 50vh;
    margin-top: 25vh;
    padding: 20px;
    
    h1 {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
  }