<ion-header></ion-header>

<ion-content padding class="signin-content">

  <div class="logo">
    <img src="../../../assets/logo_secondary.png" alt="">
  </div>


  <div class="container">
    
    <!-- <div class="intro">
      <img src="../../../assets/signin/" alt="">
    </div> -->
    <form class="form" [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
      <ion-item mode="ios" lines="none" class="form-item">
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input class="custom" type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item mode="ios" lines="none" class="form-item">
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input class="custom" type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="btn">
        <ion-button  class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Log In</ion-button>
      </div>

      <div class="validation-errors">
        <p class="error-message">{{errorMessage}}</p>
      </div>

      <div class="or-social">---------- OR ---------</div>
      <div class="btn">
        <ion-button class="submit-btn" expand="block">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Gmail
        </ion-button>
        <ion-button class="submit-btn" expand="block">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          Phone number
        </ion-button>
      </div>
      
    </form>
  
    <p class="not-registered">
      No account yet? <a (click)="goToSignupPage()">Create an account.</a>
    </p>
    <p class="reset-password">
      Or <a (click)="goToResetPassword()">Reset Password.</a>
    </p>
  </div>
</ion-content>
