::-webkit-scrollbar {
  display: none;
} 

.signin-content{

  text-align: center;
  padding: 20px;

  .logo {
    margin: 40px 0;
    img {
      width: 100px;
    }
  }

  .form {

    .form-item {
      margin: 0 auto;
      width: 90%;
      ion-input {
        border: 2px solid rgb(121, 15, 73);
        border-radius: 8px;
        --padding-start: 10px;
      }

      ion-label {
        color: #000;
        font-weight: bold;
      }
    }
    .validation-errors {
      .error-message {
        color: rgb(143, 10, 10);
        padding: 0 40px;
        line-height: 1;
      }
    }
    .btn {
      margin: 10px 30px;
    }
  }

  p.reset-password, p.not-registered {
    margin: 0;
  }
}