<ion-header> </ion-header>
<ion-content>
  <div class="container">
    <div class="intro">
      <div class="logo">
        <img src="../../../assets/snuggle-white.png" alt="">
      </div>
    
      <ion-slides pager="true">
        <ion-slide class="slide slide-one">
          <div class="top-info">
            <img src="../../../assets/intro/1.svg">
          </div>
          <div class="info">
            <h1>Create Account</h1>
            <p>It only takes few steps then you should be good to go.</p>
          </div>
        </ion-slide>

        <ion-slide class="slide slide-two">
          <div class="top-info">
            <img src="../../../assets/intro/2.svg">
          </div>
          <div class="info">
            <h1>Verify Account</h1>
            <p>We will send you a link to the email address you have registerd with.</p>
          </div>
        </ion-slide>
        
        <ion-slide class="slide slide-three">
          <div class="top-info">
            <img src="../../../assets/intro/3.svg">
          </div>
          <div class="info">
            <h1>Find a Match</h1>
            <p>Swipe, swipe and snuggle with your match.</p>
            <ion-button class="btn" fill="solid" expand="block" (click)="goToSignUp()">Get started</ion-button>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
</div>
</ion-content>
