<ion-header> </ion-header>

<ion-content class="ion-padding">

  <div class="intro">
    <div class="logo">
      <img src="../../../assets/logo_secondary.png" alt="">
    </div>

    <ion-slides pager="true">
      <ion-slide>
        <div class="top-info">
          <img src="../../../assets/intro/create.svg">
        </div>
        <div class="info">
          <h1>Create Account</h1>
          <p>It only takes few steps then you should be good to go.</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="top-info">
          <img src="../../../assets/intro/create.svg">
        </div>
        <div class="info">
          <h1>Verify Account</h1>
          <p>We will send you a link to the email address you have registerd with.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="top-info">
          <img src="../../../assets/intro/create.svg">
        </div>
        <div class="info">
          <h1>Match Your Encounter</h1>
          <p>Swipe, swipe and see who's keen for a hook up.</p>
          <ion-button fill="solid" expand="block" (click)="goToSignUp()">Get Started</ion-button>
        </div>
    </ion-slide>
  </ion-slides>
  </div>
</ion-content>
