
ion-content {

   --background: url('../../../assets/bondage_bg.jpg') 0 0/100% 100% no-repeat;
   --background-position: bottom;

  //  background-size: cover;
  // height: 100vh;
  // width: 100%;
}

 

// Background Blur using backdrop-filter
.container {
  background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(2px); // This be the blur
  width: 100%;

}
   

  
.intro {

  .logo {
    text-align: center;
    padding-top: 10vh;
    img {
      height: 10vh;
      // width: 160px;
    }
  }


  ion-slide {
    height: 80vh;
    flex-direction: column;
    // color: #fff;
    .top-info {
      height: 35vh;
      img {
        width: 300px;
      }
    }
    .info {

      color: #fff;;
      padding: 0 40px;

      
      h1 {
        font-size: 40px;
        font-weight: bold;
        line-height: 1;
      }
      p {
        line-height: 1;
        font-size: 18px;
        padding: 0 0 20px 0;
        margin: 0;
      }
    }
    
  }

  }
  
   
  ::ng-deep .swiper-pagination-bullet {
    width: 50px;
    height: 2px;
    background-color: #fff;
  }
  
  .top {
    height: 35vh;
    text-align: center;
    color: #292929;
    padding: 0 20px;
  
    .logo {
        text-align: center;
        margin-top: 40px;
  
        img {
          width: 60px;
        }
    }
    h1 {
        font-size: 26px;
        font-weight: bold;
    }
    p {
        font-size: 16px;
  
    }
  }